.fundo {
    width: 100vw;
     height: 100vh;
     background: #6C7A89;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center
}
.calculadora {
    width: 330px;
    height: 400px;
    background: #fff;
}
.botoes{
    display: grid;
    flex-wrap:  wrap-reverse;
    background: cornflowerblue;
    max-width: 310px;;
	margin: 0 auto;
}
.botoes-auto-flow{
    grid-auto-flow: column;
}
#saida{
    background-color: gray;
    padding: 5px;
    margin: 10px;
    border-radius:6px;
}
.teclas{
    opacity: 1;
    margin: 1px;
    width: 75px;
    border-radius:4px;
	background: royalblue;
	text-align: center;
    font-size: 1em;
    color: white;
}
.teclas:hover{
    opacity: 0.5; 
    cursor: pointer; 
}
.teclas:active{
    opacity: 0.3;
}
.teclas.numeros{
    background: rgb(230, 77, 56);
}
body {
    margin: 0px;
}